<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title MK Modern Shaker Kitchens | Home

    //- Main CSS
    link(rel="stylesheet", href="styles/main.css")

    //- UI Kit CSS
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.1/css/uikit.min.css")

    //- UI Kit JS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.1/js/uikit.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.1/js/uikit-icons.min.js")

  body
    include web_parts/header.pug

    //- Intro Section
    section(class="intro")
      div(class="uk-grid uk-child-width-1-2@s " uk-grid)
        div(class="uk-section-primary uk-section-xlarge intro__content-col")
          div(class="uk-margin-large-left uk-margin-large-right intro__content" uk-scrollspy="cls: uk-animation-slide-left; target: > ; delay: 700;")
            h3 Modern Shaker Style
            hr(class="uk-divider-small")
            p Our modern shaker style kitchens are mhand crafted and made to measure to fit perfectly in any space and suit your needs. From practical and functional to modern and luxurious, all available and custom made for you.
            a(href="about-us.html" class="btn btn--primary uk-margin-large-top") Read more
        div(class="uk-inline intro__bcg-img uk-background-cover" style="background-image: url(images/modern_shaker_kitchen_intro.jpg);" uk-scrollspy="cls: uk-animation-fade; delay: 500;")
          div(class="uk-overlay-secondary uk-position-cover")
    //- END! Intro Section