<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title MK Modern Shaker Kitchens | Home

    //- Main CSS
    link(rel="stylesheet", href="styles/main.css")

    //- UI Kit CSS
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.1/css/uikit.min.css")

    //- UI Kit JS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.1/js/uikit.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.1/js/uikit-icons.min.js")

  body
    include web_parts/header.pug

    //- Intro Section
    section(class="intro")
      div(class="uk-grid uk-child-width-1-2@s " uk-grid)
        div(class="uk-section-primary uk-section-xlarge intro__content-col")
          div(class="uk-margin-large-left uk-margin-large-right intro__content" uk-scrollspy="cls: uk-animation-slide-left; target: > ; delay: 700;")
            h3 Modern Shaker Style
            hr(class="uk-divider-small")
            p Our modern shaker style kitchens are mhand crafted and made to measure to fit perfectly in any space and suit your needs. From practical and functional to modern and luxurious, all available and custom made for you.
            a(href="about-us.html" class="btn btn--primary uk-margin-large-top") Read more
        div(class="uk-inline intro__bcg-img uk-background-cover" style="background-image: url(images/modern_shaker_kitchen_intro.jpg);" uk-scrollspy="cls: uk-animation-fade; delay: 500;")
          div(class="uk-overlay-secondary uk-position-cover")
    //- END! Intro Section

    //- 2 images section
    section(class="two-images")
      div(class="uk-section-xlarge uk-section-default")
        div(class="uk-container")
          div(class="uk-grid two-images__top-row" uk-grid)
            div(class="uk-width-3-5@s two-images__top-img")
              img(uk-scrollspy="cls: uk-animation-slide-left; delay: 500;" src="images/two_images_left.jpg" class="img--big-shadow " alt="")
            div(uk-scrollspy="cls: uk-animation-slide-top-medium; delay: 500;" class="uk-width-2-5@s two-images__heading")
              h3 Timeless Beauty Converted <br> Into Modern Day Living
              hr(class="uk-divider-small uk-margin-xlarge-bottom")
          div(class="uk-grid  two-images__bottom-row" uk-grid)
            div(class="uk-width-2-5@s two-images__btn")
              a(uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 500;" href="gallery.html" class="btn btn--default uk-margin-xlarge-top ") Watch gallery
            div(class="uk-width-3-5@s two-images__bottom-img")
              img(uk-scrollspy="cls: uk-animation-slide-right; delay: 500;" src="images/two_images_right.jpg" class="img--big-shadow " alt="")
    //- END! 2 images section

    //- Bespoke Section 
    section(class="bespoke")
      div(class="uk-section-xlarge uk-section-muted")
        div(class="uk-container")
          div(class="uk-grid uk-child-width-1-2@s uk-child-width-1-4@m" uk-grid uk-scrollspy="cls: uk-animation-slide-bottom; target: > div ; delay: 500;")
            div
              h3 Why Bespoke?
              hr(class="uk-divider-small")
              p Our handmade and carefully planned kitchens cam solve number of issues.
            div
              div(class="uk-card uk-card-default uk-box-shadow-hover-large")
                div(class="uk-card-media-top")
                  img(src="images/bespoke_1.jpg" alt="")
                div(class="uk-card-body")
                  h4 EMPTY GAPS, SPACES
            div
              div(class="uk-card uk-card-default uk-box-shadow-hover-large")
                div(class="uk-card-media-top")
                  img(src="images/bespoke_2.jpg" alt="")
                div(class="uk-card-body")
                  h4 UNUSED PLACES
            div
              div(class="uk-card uk-card-default uk-box-shadow-hover-large")
                div(class="uk-card-media-top")
                  img(src="images/bespoke_3.jpg" alt="")
                div(class="uk-card-body")
                  h4 AKWARD CORNERS
    //- END! Bespoke Section 

    include web_parts/footer.pug