//- includes/footer.pug


//- Contact -->
section(class="contact")
  div(class="uk-section-xlarge uk-section-secondary")
    div(class="uk-container")
      div(class="uk-grid uk-child-width-1-2@s uk-child-width-1-4@m" uk-grid uk-scrollspy="cls: uk-animation-scale-up; target: > div ; delay: 500;")
        div
          h4 Head Office
          hr(class="uk-divider-small")
          div(class="uk-grid-small" uk-grid)
            div(class="uk-width-auto")
              span(href="" class="uk-icon-button" uk-icon="home")
            div(class="uk-width-expand")
              address 57 Kingsway,
                <br> TW197QF,
                <br> Stanwell, Staines
        div
          h4 Contact
          hr(class="uk-divider-small")
          div(class="uk-grid-small" uk-grid)
            div(class="uk-width-auto")
              span(href="" class="uk-icon-button" uk-icon="mail")
            div(class="uk-width-expand")
              a(href="mailto:info@modernshakerkitchen.co.uk" class="uk-button-text") info@modernshaker<br>kitchen.co.uk
          div(class="uk-grid-small" uk-grid)
            div(class="uk-width-auto")
              span(href="" class="uk-icon-button" uk-icon="receiver")
            div(class="uk-width-expand")
              a(href="tel:+487846115968" class="uk-button-text") 78 46 115 968
        div
          h4 Social Media
          hr(class="uk-divider-small")
          div(class="uk-grid-small" uk-grid)
            div(class="uk-width-auto")
              span(href="" class="uk-icon-button" uk-icon="facebook")
            div(class="uk-width-expand")
              a(href="https://www.facebook.com/MK-Modern-Shaker-Kitchen-239144040158507/" target="_blank" class="uk-button-text") MK Modern Shaker Kitchen
        div
          h4 Search
          hr(class="uk-divider-small")
          form(action="" class="uk-form")
            input(type="text" class="uk-input")
//- END! Contact

//- Footer
footer(class="footer" uk-scrollspy="cls: uk-animation-slide-bottom; target: > div ; delay: 300;")
  div(class="uk-section")
    div(class="uk-container")
      div(class="uk-grid" uk-grid)
        div(class="uk-width-expand")
          span Modern Shaker Kitchens - 2018 |
            a(href="#" class="uk-button-text") Terms And Conditions
        div(class="uk-width-auto uk-text-right")
          span
            a(href="#" class="uk-button-text") Code & Design By MD
//- END! Footer -->