/*===============================
 *  Colors
 *==============================*/

$darkBlue = #002157
$mediumBlue = #26487F
$lightBlue = #5092FF
$white = #F8F8F8

$footerLightBlue = #383F53
$footerDarkBlue = #0D192E

/*===============================
 *  Shadows
 *==============================*/

$depth-1 = 0 2px 2px 0 rgba(0,0,0,0.14), 
           0 3px 1px -2px rgba(0,0,0,0.12), 
           0 1px 5px 0 rgba(0,0,0,0.2);
$depth-2 = 0 4px 5px 0 rgba(0,0,0,0.14), 
           0 1px 10px 0 rgba(0,0,0,0.12), 
           0 2px 4px -1px rgba(0,0,0,0.3);
$depth-3 = 0 8px 17px 2px rgba(0,0,0,0.14), 
           0 3px 14px 2px rgba(0,0,0,0.12), 
           0 5px 5px -3px rgba(0,0,0,0.2);
$depth-4 = 0 16px 24px 2px rgba(0,0,0,0.14), 
           0 6px 30px 5px rgba(0,0,0,0.12), 
           0 8px 10px -7px rgba(0,0,0,0.2);
$depth-5 = 0 24px 38px 3px rgba(0,0,0,0.14), 
           0 9px 46px 8px rgba(0,0,0,0.12), 
           0 11px 15px -7px rgba(0,0,0,0.2);

/*===============================
 *  Fonts
 *==============================*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600')

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700')

/*===============================
 *  Typography
 *==============================*/

/*===============================
 *  Global Styles
 *==============================*/

/******** Buttons ********/
.btn
  font-family: 'Montserrat'!important
  color: $darkBlue!important
  font-weight: 500
  border: 2px solid $darkBlue
  padding: 10px!important
  height: inherit!important
  width: 10rem
  margin-left: 1rem
  text-align: center
  position: relative!important
  display: block
  overflow hidden
  z-index: 1
  &:hover
    color: $white!important
    transition: 0.4s ease-in-out;
    &:before
      transform: translateX(0);
      transition: 0.4s ease-in-out;

.btn:before
  content ''
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $darkBlue
  transform: translateX(-100%);
  z-index: -1

.btn--primary,
.btn--default
  margin-left 0
  text-transform: uppercase
  color: $white!important
  border: 2px solid $white
  &:hover
    text-decoration: none
    border-color: $lightBlue
    box-shadow $depth-3
  &:before
    background-color: $lightBlue
  &:active
    border-color: $white
    box-shadow $depth-1
    transition: 0.2s ease-in-out;

.btn--default
  border: 2px solid $mediumBlue
  color: $mediumBlue!important

.btn--link
  font-family: 'Montserrat'!important
  color: $mediumBlue!important
  font-weight: 500
  text-transform: uppercase
  font-size: 14px
  &:hover
    color: $lightBlue!important
    text-decoration: none 
  &::before
    border-bottom: 1px solid $lightBlue!important

/******** Sections ********/
.uk-section-primary
  background: $mediumBlue!important
  color: $white!important
  h3
    font-family: 'Roboto Slab'
    font-weight: 100
    font-size: 25px
    color: $white
  p
    font-family: 'Montserrat'
  .uk-divider-small
    &::after
      border-top: 2px solid $white
      border-top-color: $white!important


.uk-section-default
  h3
    font-family: 'Roboto Slab'
    font-weight: 400
    font-size: 25px
    color $mediumBlue
  p
    font-family: 'Montserrat'
    color $mediumBlue
  .uk-divider-small
    &::after
      border-top: 2px solid $mediumBlue
      border-top-color: $mediumBlue!important

.uk-section-muted
  color $mediumBlue
  h3
    font-family: 'Roboto Slab'
    font-weight: 400
    font-size: 25px
    color $mediumBlue
  p
    font-family: 'Montserrat'
  h4
    font-family: 'Montserrat'
    font-size: 16px
    color $mediumBlue
  .uk-divider-small
    &::after
      border-top: 2px solid $mediumBlue
      border-top-color: $mediumBlue!important

.uk-section-secondary
  background: $footerLightBlue!important
  color: $white!important
  h4
    font-family: 'Montserrat'
    font-weight: 300
    font-size: 18px
    color: $white
    text-transform: uppercase
  .uk-divider-small
    &::after
      border-top: 2px solid $white
      border-top-color: $white!important
  a, address, input
    font-family: 'Montserrat'
    font-weight: 300
    font-size: 14px
    color: $white

footer
  background: $footerDarkBlue!important
  color: $white!important
  span, a
    font-family: 'Montserrat'
    font-weight: 300
    font-size: 14px
    color: $white
a:hover
  color: $white!important

/******** Cards ********/
.uk-card-default
  box-shadow: $depth-2!important
  transition: box-shadow .3s ease-in-out;
  &:hover
    box-shadow: $depth-4!important
    transition: box-shadow .3s ease-in-out;

.uk-card-primary 
  background: $mediumBlue!important
  color: $white!important
  box-shadow: $depth-2!important
  transition: box-shadow .3s ease-in-out;
  h3, p, a
    color: $white!important
  .uk-divider-small
    &::after
      border-top: 2px solid $white
      border-top-color: $white!important
  &:hover
    box-shadow: $depth-4!important
    transition: box-shadow .3s ease-in-out;

/*===============================
 *  HOME - Header
 *==============================*/

/******** Navbar Section ********/
.header
  height: 100vh
  &__background
    height: 100vh
    width: 100%
    object-fit: cover
    overflow: hidden

.header__logo
  height 55px

.header .uk-overlay-secondary
  // background: linear-gradient(45deg, rgba(80,146,255,0.3) 0%,rgba(41,137,216,0.04) 50%,rgba(41,135,213,0) 50%,rgba(38,72,127,1) 100%)

.header__navbar
  background-color rgba(255, 255, 255, 0.7)
  box-shadow $depth-2
  z-index: 999

/******** Hero Section ********/
.header__hero-section
  h2
    font-family: 'Roboto Slab'
    font-weight: 300
    font-size: 36px
    color: $white
    margin 0
    padding 0
    text-shadow: 0px 2px rgba(0,0,0, 1)
  .uk-divider-icon
    margin 10px 0
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22none%22%20stroke%3D%22rgba%28255,%20255,%20255,%201%29%22%20stroke-width%3D%222%22%20cx%3D%2210%22%20cy%3D%2210%22%20r%3D%227%22%20%2F%3E%0A%3C%2Fsvg%3E%0A")!important
    
    &::before,
    &::after
      border-bottom: 2px solid $white!important
      border-bottom-color: $white!important
      box-shadow 0 2px 0px 0px rgba(0,0,0, 1)

/*===============================
 *  HOME - Intro Section
 *==============================*/

 .intro__bcg-img
   .uk-overlay-primary
      background: linear-gradient(
        rgba($lightBlue, 0.5),
        rgba($mediumBlue, 0.2)
      )
      
/*===============================
 *  HOME - 2 images Section
 *==============================*/

.two-images__image
  box-shadow: 0px 20px 60px rgba(0,0,0, 0.6)
  
/*===============================
 *  Bespoke Section
 *==============================*/

.bespoke
  .uk-card-body
    text-align: center

/*===============================
 *  HOME - Contact
 *==============================*/

/*===============================
 *  GALLERY - Header
 *==============================*/

/******** Navbar Section ********/
.header--no-home
  height: 50vh
  .uk-overlay-secondary
    background: linear-gradient(45deg, rgba(80,146,255,0.3) 0%,rgba(41,137,216,0.04) 50%,rgba(41,135,213,0) 50%,rgba(38,72,127,1) 100%)

.header__background--no-home
  height: 50vh

.header__hero-section--no-home
  .uk-container
    max-width: 400px
