/*===============================
 *  Colors
 *==============================*/

$darkBlue = #002157
$mediumBlue = #26487F
$lightBlue = #5092FF
$white = #F8F8F8

$footerLightBlue = #383F53
$footerDarkBlue = #0D192E

/*===============================
 *  Shadows
 *==============================*/

$depth-1 = 0 2px 2px 0 rgba(0,0,0,0.14), 
           0 3px 1px -2px rgba(0,0,0,0.12), 
           0 1px 5px 0 rgba(0,0,0,0.2);
$depth-2 = 0 4px 5px 0 rgba(0,0,0,0.14), 
           0 1px 10px 0 rgba(0,0,0,0.12), 
           0 2px 4px -1px rgba(0,0,0,0.3);
$depth-3 = 0 8px 17px 2px rgba(0,0,0,0.14), 
           0 3px 14px 2px rgba(0,0,0,0.12), 
           0 5px 5px -3px rgba(0,0,0,0.2);
$depth-4 = 0 16px 24px 2px rgba(0,0,0,0.14), 
           0 6px 30px 5px rgba(0,0,0,0.12), 
           0 8px 10px -7px rgba(0,0,0,0.2);
$depth-5 = 0 24px 38px 3px rgba(0,0,0,0.14), 
           0 9px 46px 8px rgba(0,0,0,0.12), 
           0 11px 15px -7px rgba(0,0,0,0.2);
$depth-img = 0px 20px 60px rgba(0,0,0, 0.6);

/*===============================
 *  Fonts
 *==============================*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600')

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700')



// font-family: 'Avenir', Helvetica, Arial, sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;


/*===============================
 *  Media Queries
 *==============================*/

$s-width = 640px 
$m-width = 960px
$l-width = 1200px
$xl-width = 1600px

/*===============================
 *  Global Styles
 *==============================*/

/******** Image shadows ********/
.img--big-shadow
  box-shadow: $depth-img

/******** Buttons ********/
.btn
  font-family: 'Montserrat'!important
  color: $darkBlue!important
  font-weight: 500
  border: 2px solid $darkBlue
  padding: 10px!important
  height: inherit!important
  width: 10rem
  margin-left: 1rem
  text-align: center
  position: relative!important
  display: block
  overflow hidden
  z-index: 1
  &:hover
    color: $white!important
    transition: 0.4s ease-in-out;
    &:before
      transform: translateX(0);
      transition: 0.4s ease-in-out;

.btn:before
  content ''
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $darkBlue
  transform: translateX(-100%);
  z-index: -1

.btn--primary,
.btn--default
  margin-left 0
  text-transform: uppercase
  color: $white!important
  border: 2px solid $white
  &:hover
    text-decoration: none
    border-color: $lightBlue
    box-shadow $depth-3
  &:before
    background-color: $lightBlue
  &:active
    border-color: $white
    box-shadow $depth-1
    transition: 0.2s ease-in-out;

.btn--default
  border: 2px solid $mediumBlue
  color: $mediumBlue!important

.btn--link
  font-family: 'Montserrat'!important
  color: $mediumBlue!important
  font-weight: 500
  text-transform: uppercase
  font-size: 14px
  &:hover
    color: $lightBlue!important
    text-decoration: none 
  &::before
    border-bottom: 1px solid $lightBlue!important

.btn-submit
  margin-left 0
  text-transform: uppercase
  color: $white!important
  border: 2px solid $white
  background: $mediumBlue
  font-family: 'Montserrat'!important 
  font-size: 18px
  font-weight: 500
  width: 10rem!important
  cursor: pointer 
  &:hover
    text-decoration: none
    border-color: $lightBlue
    box-shadow $depth-3
  &:before
    background-color: $lightBlue
  &:active
    border-color: $white
    box-shadow $depth-1
    transition: 0.2s ease-in-out;


.btn-submit:before
  content ''
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $lightBlue!important
  transform: translateX(-100%);
  z-index: -1
/******** Sections ********/
.uk-section-primary
  background: $mediumBlue!important
  color: $white!important
  h3
    font-family: 'Roboto Slab'
    font-weight: 100
    font-size: 25px
    color: $white
  p
    font-family: 'Montserrat'
  .uk-divider-small
    &::after
      border-top: 2px solid $white
      border-top-color: $white!important


.uk-section-default
  h3
    font-family: 'Roboto Slab'
    font-weight: 400
    font-size: 25px
    color $mediumBlue
  p
    font-family: 'Montserrat'
    color $mediumBlue
  .uk-divider-small
    &::after
      border-top: 2px solid $mediumBlue
      border-top-color: $mediumBlue!important

.uk-section-muted
  color $mediumBlue
  h3
    font-family: 'Roboto Slab'
    font-weight: 400
    font-size: 25px
    color $mediumBlue
  p
    font-family: 'Montserrat'
  h4
    font-family: 'Montserrat'
    font-size: 16px
    color $mediumBlue
  .uk-divider-small
    &::after
      border-top: 2px solid $mediumBlue
      border-top-color: $mediumBlue!important

.uk-section-secondary
  background: $footerLightBlue!important
  color: $white!important
  h4
    font-family: 'Montserrat'
    font-weight: 300
    font-size: 18px
    color: $white
    text-transform: uppercase
  .uk-divider-small
    &::after
      border-top: 2px solid $white
      border-top-color: $white!important
  a, address, input
    font-family: 'Montserrat'
    font-weight: 300
    font-size: 14px
    color: $white

footer
  background: $footerDarkBlue!important
  color: $white!important
  span, a
    font-family: 'Montserrat'
    font-weight: 300
    font-size: 14px
    color: $white!important
a:hover
  color: $white!important

/******** Cards ********/
.uk-card-default
  box-shadow: $depth-2!important
  transition: box-shadow .3s ease-in-out;
  &:hover
    box-shadow: $depth-4!important
    transition: box-shadow .3s ease-in-out;

.uk-card-primary 
  background: $mediumBlue!important
  color: $white!important
  box-shadow: $depth-2!important
  transition: box-shadow .3s ease-in-out;
  h3, p, a
    color: $white!important
  .uk-divider-small
    &::after
      border-top: 2px solid $white
      border-top-color: $white!important
  &:hover
    box-shadow: $depth-4!important
    transition: box-shadow .3s ease-in-out;
  .uk-card-media-top
    overflow: hidden;

.uk-card-media-top--scale-up
  transition: all .6s ease;
  background: $lightBlue

.uk-card-media-top--scale-up:hover
  transform: scale(1.2);
  opacity: 0.5

/*===============================
 *  Mobile Menu
 *==============================*/
.mobile-navbar__btn
  background-color: transparent!important
  color: $darkBlue!important
  border: 2px solid $darkBlue
  padding 10px
  font-family: 'Montserrat'
  font-weight bold
  text-transform: uppercase

.mobile-menu
  nav 
    margin 0 auto
    color $white!important
  .nav__menu-links
    font-family: 'Roboto Slab'
    color $white!important
    &:hover
      color: $lightBlue!important



/*===============================
 *  HOME - Header
 *==============================*/

/******** Navbar Section ********/
.header
  height: 100vh
  margin-top: 80px;
  @media (max-width $m-width)
    margin-top 0
  &__background
    height: 100vh
    width: 100%
    object-fit: cover
    overflow: hidden

.header__logo
  height 55px

.header .uk-overlay-secondary
  // background: linear-gradient(45deg, rgba(80,146,255,0.3) 0%,rgba(41,137,216,0.04) 50%,rgba(41,135,213,0) 50%,rgba(38,72,127,1) 100%)

.header__navbar
  background-color rgba(255, 255, 255, 1)
  box-shadow $depth-2
  z-index: 999
  .uk-navbar-item.uk-logo
    padding 0!important

/******** Hero Section ********/
.header__hero-section
  h2
    font-family: 'Roboto Slab'
    font-weight: 300
    font-size: 36px
    color: $white
    margin 0
    padding 0
    text-shadow: 0px 2px rgba(0,0,0, 1)
  .uk-divider-icon
    margin 10px 0
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22none%22%20stroke%3D%22rgba%28255,%20255,%20255,%201%29%22%20stroke-width%3D%222%22%20cx%3D%2210%22%20cy%3D%2210%22%20r%3D%227%22%20%2F%3E%0A%3C%2Fsvg%3E%0A")!important
    
    &::before,
    &::after
      border-bottom: 2px solid $white!important
      border-bottom-color: $white!important
      box-shadow 0 2px 0px 0px rgba(0,0,0, 1)

/*===============================
 *  HOME - Intro Section
 *==============================*/

.intro__content-col
  @media (max-width $s-width)
    margin-bottom -30px!important

 .intro__bcg-img
   @media (max-width $s-width)
     height: 350px
  //  .uk-overlay-secondary
      // background: linear-gradient(
      //   rgba($lightBlue, 0.5),
      //   rgba($mediumBlue, 0.2)
      // )
      
/*===============================
 *  HOME - 2 images Section
 *==============================*/
  
.two-images
  position: relative
  overflow: hidden

.two-images__bottom-img
  @media (min-width $s-width)
    position: absolute
    right: -80px
    top: 550px
  @media (max-width: $l-width)
    top: 350px

.two-images__top-row
  @media  (max-width $s-width)
    display: flex

.two-images__top-img
  @media  (max-width $s-width)
    order: 2

.two-images__heading
  @media  (max-width $s-width)
    order: 1

.two-images__bottom-row
  @media  (max-width $s-width)
    display: flex

.two-images__btn
  margin-top 70px!important
  @media  (max-width $s-width)
    order: 2

.two-images__bottom-img
  @media  (max-width $s-width)
    order: 1

/*===============================
 *  HOME - Bespoke Section
 *==============================*/

.bespoke
  .uk-card-body
    text-align: center
    padding 30px 10px

/*===============================
 *  HOME - Contact
 *==============================*/

/*===============================
 *  GALLERY - Header
 *==============================*/

/******** Navbar Section ********/
.header--no-home
  height: 50vh
  .uk-overlay-secondary
    background: linear-gradient(45deg, rgba(80,146,255,0.3) 0%,rgba(41,137,216,0.04) 50%,rgba(41,135,213,0) 50%,rgba(38,72,127,1) 100%)

.header__background--no-home
  height: 50vh

.header__hero-section--no-home
  .uk-container
    max-width: 400px

/*===============================
 *  ABOUT US - Header
 *==============================*/

 .experience
    img 
      box-shadow: $depth-img

/*===============================
 *  CONTACT - Map
 *==============================*/

.contact-us
  address,
  a
    font-family: 'Montserrat'
    font-size: 16px
    color: $mediumBlue
    font-weight: 500
  a:hover
    color: $lightBlue!important
    line-height: 0.4
  span.uk-icon-button
    color: $white
    background-color: $darkBlue


/*===============================
 *  CONTACT - Form
 *==============================*/

.uk-section-xlarge--remove-padding-top
  padding-top 0!important

.contact-form
  label.uk-form-label
    font-family: 'Montserrat'
    font-size: 18px
  input.uk-input,
  textarea.uk-textarea
    background-color: $white!important
    color: $darkBlue!important
    &:focus
      border-color: $lightBlue!important